header {
    display: flex;
    justify-content: space-between;
}

.header-element {
    margin: 25px 25px;
}

a {
    color: rgba(88, 156, 88, 0.839);
    text-decoration: none;
}

a:visited {
    color: rgba(88, 156, 88, 0.839);
    text-decoration: none;
}

.main, .quiz, .finished {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.quiz, .finished, .popup {
    display: none;
}

form * {
    display: inline;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 6px 0;
}

button {
    background-color: rgba(88, 156, 88, 0.839);
    color: white;
    padding: 6px;
    border: 0;
    border-radius: 5px; 
}

button:hover {
    background-color: rgb(167, 209, 167);
}

li button {
    width: 180px;
}

#line {
    width: 100%;
    border-bottom: 1px solid;
}

#result {
    font-family: fantasy;
}

#center-finished {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 5px;
}

/* these are for highscores.html */
.high-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.high-buttons {
    display: flex;
    justify-content: space-between;
}

.break {
    width: 10px;
}

button a, button a:visited {
    color: white;
}