:root {
    --dark-main-color: rgba(88, 156, 88, 0.839); 
    --light-main-color: rgb(167, 209, 167);
}

header {
    display: flex;
    justify-content: space-between;
}

.header-element {
    margin: 25px 25px;
}

a {
    color: var(--dark-main-color);
    text-decoration: none;
}

a:visited {
    color: var(--dark-main-color);
    text-decoration: none;
}

.main, .quiz, .finished, #centered-main {
    display: flex;
    align-items: center;
    flex-direction: column;   
}

#centered-main {
    width: 500px;
}

#centered-main p {
    text-align: center;
}

.quiz, .finished, .popup {
    display: none;
}

form * {
    display: inline;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 6px 0;
}

button {
    background-color: var(--dark-main-color);
    color: white;
    padding: 6px;
    border: 0;
    border-radius: 5px; 
}

button:hover {
    background-color: var(--light-main-color);
}

li button {
    width: 180px;
}

#line {
    width: 100%;
    border-bottom: 1px solid;
}

#result {
    font-family: fantasy;
}

#center-finished {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 5px;
}

/* these are for highscores.html */
.high-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.high-buttons {
    display: flex;
    justify-content: space-between;
}

.break {
    width: 10px;
}

button a, button a:visited {
    color: white;
}

ol {
    padding: 0;
}

ol li {
    background-color: var(--light-main-color);
    color: white;
    padding: 3px 10px;
    width: 200px;
    border: 1px solid black;
}